<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MacForge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MacForgeDockTile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MacForgeHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PreferenceLoader.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>com.w0lf.MacForge.Injector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>096DEFBF247CA727009F7CF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0ADE0F5166DF941009758CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0ADE14E166DFB8B009758CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0ADE1B7166E0820009758CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0ADE1D1166E0A7F009758CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBA6E89B20F0190900A12ACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBA6E90020F0299B00A12ACF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBAA973F2334B8550074B4E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBAA974E2334BBFC0074B4E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBE7679D20EF426D00A42BD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBE767E720F00FFB00A42BD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
