<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590241387659-ug7bda1r42ejorv1otiindg2i9lhs8g2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590241387659-ug7bda1r42ejorv1otiindg2i9lhs8g2</string>
	<key>API_KEY</key>
	<string>AIzaSyBWD7yR4FDHjUuVrpHZOBjIxXsf8pEoEis</string>
	<key>GCM_SENDER_ID</key>
	<string>590241387659</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.w0lf.MacForge</string>
	<key>PROJECT_ID</key>
	<string>macforge-fc5c6</string>
	<key>STORAGE_BUCKET</key>
	<string>macforge-fc5c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590241387659:ios:9cfa463ecd0b6429</string>
	<key>DATABASE_URL</key>
	<string>https://macforge-fc5c6.firebaseio.com</string>
</dict>
</plist>